<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0;url=/auth.login" />
    <meta name="keywords" content="Office, intranet, workspace">
    <meta name="description" content="Office intranet, Office WorkPlace">
    <meta name="author" content="SE Department">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self';">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; report-uri /csp-violations;"> <!-- for reporting-->
    <title>Redirecting...</title>
</head>
<body>
    <p>Redirecting you to the login page...</p>
    <p>If you are not redirected within a few seconds, <a href="/auth.login">click here to access the login page</a>.</p>
</body>
</html>

